@media only screen and (max-width: 1028px) {
  .main {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 30vw;
    row-gap: 50px;
  }

  .navbar__links {
    display: none;
  }

  .navbar__container {
    display: block;
  }

  .main__card {
    grid-template-rows: 2fr 1fr 1fr;
  }

  .main__card__header {
    font-size: 1.4em;
  }

  .main__card__desc {
    font-size: 0.8em;
  }

  .card {
    flex-direction: column;

    @at-root #{&}__content {
      margin: 32px;
    }
  }
}
