@media only screen and (max-width: 1028px) {
  .main {
    grid-template-columns: 1fr 1fr;
    width: 700px;
  }

  .navbar__links {
    display: none;
  }

  .navbar__container {
    display: block;
  }

  .card {
    flex-direction: column;

    @at-root #{&}__content {
      margin: 32px;
    }
  }
}
