$primary-font: "Acre";
$japanese-font: "Noto Sans JP", sans-serif;

$primary-color: #3d3dec;
$secondary-color: #ffffff;
$tertiary-color: #3399ff;

$dark-color: rgb(23, 19, 56);
$shadow-color: rgba(23, 19, 56, 0.8);
